<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.JigouMapper" >
  <resultMap id="BaseResultMap" type="com.yz.entity.Jigou" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jigou_name" property="jigouName" jdbcType="VARCHAR" />
    <result column="jigou_quanname" property="jigouQuanname" jdbcType="VARCHAR" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="jigou_type" property="jigouType" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="beizhu" property="beizhu" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="companyId" property="companyid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, jigou_name, jigou_quanname, order, jigou_type, update_time, beizhu, status, companyId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yz.entity.JigouExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_jigou
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_jigou
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_jigou
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yz.entity.JigouExample" >
    delete from t_jigou
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yz.entity.Jigou" >
    insert into t_jigou (id, jigou_name, jigou_quanname, 
      order, jigou_type, update_time, 
      beizhu, status, companyId
      )
    values (#{id,jdbcType=INTEGER}, #{jigouName,jdbcType=VARCHAR}, #{jigouQuanname,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER}, #{jigouType,jdbcType=INTEGER}, #{updateTime,jdbcType=DATE}, 
      #{beizhu,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yz.entity.Jigou" >
    insert into t_jigou
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jigouName != null" >
        jigou_name,
      </if>
      <if test="jigouQuanname != null" >
        jigou_quanname,
      </if>
      <if test="order != null" >
        order,
      </if>
      <if test="jigouType != null" >
        jigou_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="beizhu != null" >
        beizhu,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jigouName != null" >
        #{jigouName,jdbcType=VARCHAR},
      </if>
      <if test="jigouQuanname != null" >
        #{jigouQuanname,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="jigouType != null" >
        #{jigouType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yz.entity.JigouExample" resultType="java.lang.Integer" >
    select count(*) from t_jigou
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_jigou
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jigouName != null" >
        jigou_name = #{record.jigouName,jdbcType=VARCHAR},
      </if>
      <if test="record.jigouQuanname != null" >
        jigou_quanname = #{record.jigouQuanname,jdbcType=VARCHAR},
      </if>
      <if test="record.order != null" >
        order = #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.jigouType != null" >
        jigou_type = #{record.jigouType,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.beizhu != null" >
        beizhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null" >
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_jigou
    set id = #{record.id,jdbcType=INTEGER},
      jigou_name = #{record.jigouName,jdbcType=VARCHAR},
      jigou_quanname = #{record.jigouQuanname,jdbcType=VARCHAR},
      order = #{record.order,jdbcType=INTEGER},
      jigou_type = #{record.jigouType,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=DATE},
      beizhu = #{record.beizhu,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      companyId = #{record.companyid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yz.entity.Jigou" >
    update t_jigou
    <set >
      <if test="jigouName != null" >
        jigou_name = #{jigouName,jdbcType=VARCHAR},
      </if>
      <if test="jigouQuanname != null" >
        jigou_quanname = #{jigouQuanname,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="jigouType != null" >
        jigou_type = #{jigouType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="beizhu != null" >
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yz.entity.Jigou" >
    update t_jigou
    set jigou_name = #{jigouName,jdbcType=VARCHAR},
      jigou_quanname = #{jigouQuanname,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      jigou_type = #{jigouType,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=DATE},
      beizhu = #{beizhu,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      companyId = #{companyid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>